.filter-not-visible,
.sort-not-visible{
    opacity: 0;
    overflow: hidden;
    animation: slideOut ease-in-out 0.5s forwards;
    visibility: hidden;
    max-height: 0;
}

.filter-visible,
.sort-visible{
    animation: slideIn ease-in-out 0.5s;
    background-color: #a6a6a6;
    
}
.navigation{
    display: flex;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    overflow: hidden;
}
.title{
    width: inherit;
    text-align: center;
}
.logo{
    width: 150px;
    height: auto;
}
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideOut {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}